<% layout('backstageLayout') %>
<section class="main">
  <div class="wrapper">
    <div class="main-title">
      輸入想推薦的歌曲！
    </div>
    <% if (errMessage && errMessage.length > 0) { %>
      <% for (const errMsg of errMessage) { %>
        <div class="alert alert-warning" role="alert">
          ＊ <%= errMsg.msg %>
        </div>
      <% } %>
    <% } %>
    <form method="POST" action="/addMusic" enctype="multipart/form-data" class="add-music-block">
      <div class="mb-3">
        <div class="image__block text-center">
          <img id="image" src="/images/upload.png" alt="">
        </div>
        <input type="file" class="form-control image__upload" name="image" accept="image/*">
      </div>
      <div class="mb-3">
        <label for="1" class="form-label">歌曲名稱</label>
        <input type="text" class="form-control" id="1" name="name" value="<% if (item.name) { %><%= item.name %><% } %>">
      </div>
      <div class="mb-3">
        <label for="2" class="form-label">歌曲描述</label>
        <textarea class="form-control" id="2" rows="5" name="description"><% if (item.description) { %><%= item.description %><% } %></textarea>
      </div>
      <div class="mb-3">
        <label for="3" class="form-label">機率</label>
        <input type="text" class="form-control" id="3" placeholder="請輸入 > 0 ＆ < 100 的整數" name="probability" value="<% if (item.probability) { %><%= item.probability %><% } %>">
      </div>
      <div class="text-end">
        <button type="submit" class="btn btn-secondary mt-2">送出</button>
      </div>
    </form>
</section>