nav {
  background: white;
  height: 80px;
  box-shadow: 1.4px 1.4px 6px 0 #97a2a0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.nav__title {
  font-size: 36px;
  color: #489846;
  font-family: 'Raleway', sans-serif;
  padding: 22px 20px;
}

#select__control {
  position: absolute;
  opacity: 0;
  z-index: -2;
}

.select__btn {
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  top: 18px;
  right: 10px;
  border-radius: 10%;
}

.select__btn span{
  opacity: 0;
}

.select__btn::before {
  content: '';
  width: 28px;
  height: 3px;
  position: absolute;
  left: 6px;
  background: #ff7286;
  top: 0;
  bottom: 0;
  margin: auto;
  box-shadow: 0 8px 0 #ff7286, 0 -8px 0 #ff7286;

}

.nav__select {
  width: 70%;
  height: calc(100vh - 80px);
  background: #eea0ac;
  position: absolute;
  top: 80px;
  right: -100%;
  transition: 0.5s;
}

#select__control:checked ~ nav .nav__select {
  right: 0;
}

.nav__select a {
  display: block;
  text-decoration: none;
  color: white;
  margin: 50px 40px 40px;
}

.nav__select a:hover {
  transform: translate(0, 2px);
}

.banner {
  background-image: url('./banner.jpg');
  height: 520px;
  background-size: cover;
  background-position: -8cm;
  position: relative;
  z-index: -2;
}

.banner::after {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.banner__title {
  position: absolute;
  z-index: 2;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 38px;
  letter-spacing: 0.1rem;
  white-space:nowrap;
  font-weight: bold;
  color: white;
}

.section__image img{
  width: 100%;
}

.wrap {
  max-width: 1880px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.section__content {
  text-align: center;
}

.sectioc__title {
  display: inline-block;
  margin: 80px auto 20px; 
  font-size: 24px;
  font-weight: bold;
  border-left: 10px solid #a3dea2;
  padding-left: 10px;
}

.section__desc {
  font-size: 16px;
  line-height: 2.5rem;
  margin: 0 24px;
}

.section__btn {
  display: flex;
  flex-direction: column;
  margin: 40px 0 60px;
  text-align: center;
}

.section__btn a {
  text-decoration: none;
  color: #3e613d;
  font-size: 20px;
}

.btn__order {
  margin: 40px 0 90px;
}

.btn__order a {
  background: #a8e8e1;
  padding: 30px 40px;
  border-radius: 8%;
  transition: transform 0.4s;
}

.btn__search a {
  background: #f9f9b5;
  padding: 30px 40px;
  border-radius: 8%;
  transition: transform 0.4s;
}

.btn__order:hover, .btn__search:hover {
  transform: scale(1.1);
}

.section__image {
  margin: 20px 0;
}

.section__image img{
  vertical-align: bottom;
}

.section__comment {
  padding: 40px 50px 20px;
}

.comment__item {
  position: relative;
  margin-top: 20px;
  border: 1px solid #c7e5ec;
  border-radius: 5px;
  box-shadow: 1.4px 1.4px 5px 1.2px #d4dede7e;
  padding: 10px 20px 30px;
}

.comment__item + .comment__item {
  margin-top: 80px;
}

.comment__item img {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  transform: translate(-50%, -50%);
  border: 1px solid #c1c1c1;
  border-radius: 50%;
}

.comment__name {
  margin-top: 40px;
}

.comment__content {
  font-size: 15px;
  line-height: 1.6rem;
  margin-top: 20px;
}

.wrap iframe {
  margin: 20px 0 30px;
}

.footer__top {
  display: flex;
  flex-direction: column-reverse;
  background: #e8efee;
  height: 220px;
  padding: 30px;
}

.footer__site-content {
  color: #484848;
  line-height: 1.6rem;
  font-size: 14px;
  margin-top: 40px;
}

.footer__site-title {
  font-size: 40px;
  color: #489846;
  font-family: 'Raleway', sans-serif;
}

.footer__site-social {
  font-size: 14px;
  color: #484848;
  font-family: 'Raleway', sans-serif;
  margin-top: 6px;
}

.footer__bottom {
  color: white;
  font-size: 13px;
  text-align: center;
  line-height: 1.4rem;
  background: #35564b;
  padding: 14px 20px;
}

@media screen and (min-width:768px) {
  .select__btn {
    display: none;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 84px;
  }

  .nav__title {
    margin-left: 30px;
  }

  .nav__select {
    display: flex;
    position: relative;
    right: 0;
    width: auto;
    height: auto;
    top: 0;
    background: none;
    margin: 0 10px;
  }

  .nav__select #active {
    background: #ff7286;
    color: white;
    border-radius: 8px;
    text-align: center;
  }

  .nav__select a {
    color: black;
    margin: auto;
    padding: 14px 24px;
    margin-right: 12px;
    text-align: center;
    transition: background 0.15s;
  }

  .nav__select a:hover {
    background: #ff7286;
    color: white;
    border-radius: 8px;
    box-shadow: 1.4px 1.4px 5px 1.2px #8a8b8b7e;
  }

  .banner {
    max-width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center center;
  }

  .banner__title {
    font-size: 50px;
  }

  .section__desc {
    line-height: 3.5rem;
  }

  .section__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 66px;
  }

  .btn__order {
    margin: 0px 30px 0 0;
  }

  .section__image {
    display: flex;
    width: 25%;
    margin-top: 20px;
  }

  .section__image img{
    width: 100%;
  }

  .section__comment {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .section__comment {
    margin-top: 30px;
  }
  .comment__item {
    margin-top: 0;
  }

  .comment__item + .comment__item {
    margin:0 0 0 20px;
  }

  .comment__item {
    width: 400px;
  }

  .footer__top {
    flex-direction: row;
    justify-content: space-between;
    height: 186px;
    box-sizing: border-box;
    padding: 45px 40px 0;
  }

  .footer__site-content {
    margin-top: 0;
  }
  
  .footer__site {

    text-align: right;
  }
  
}